body {
    
    background-color: grey;
}

.navbar-brand {
    
    font-family:fantasy;
}

.nav-link {
    font-family:fantasy;
}

h1 {
    color:rgba(236, 214, 12, 0.993); 
    font-family: fantasy;
    font-size: 60px;
    position: absolute;
    right: 400px;
}
.text-warning {
    position:absolute;
    left: 30%
}

#Dashboard {
    position:relative;
    left: 80px;
    top: 100px;
}

#dashboardcard {
    position:absolute;
    top: 400px;
    right: 80px;
}

#PieCharts {
    position:relative;
    left: 450px;
    bottom: 100px;
}

#piecard {
    position:absolute;
    left: 80px;
    top: 1400px;
}

#stackchart {
    position:absolute;
    left: 150px;
}

#stackcard {
    position:absolute;
    right: 500px;
    top: 2500px;
}

#card1 {
    position: absolute;
    left: 340px;
    top: 200px;
}

#card2 {
    position:absolute;
    left: 350px;
    top: 800px;
}

#card3 {
    position:relative;
    left: 350px;
    top: 1500px;
    
    
}

#fiberoptic {
    position:relative;
    top: 100px;
}

#introcard {
    position: absolute;
    top: 300px;
    left: 1200px;
}